Source: myword
Section: utils
Priority: extra
Maintainer: TualatriX <tualatrix@gmail.com>
Build-Depends: cdbs, debhelper (>= 5), python
Standards-Version: 3.7.2

Package: myword
Architecture: all
Depends: python, python-gtk2, myword-books
Description: Myword is an recite word application.

Package: myword-books
Architecture: all
Description: Myword's book files.
